button {
    background-color: yellow;
    font-size: 50px;
    font-weight: bold;
}

div {
    color:black;
    background-color: tomato;
    text-align: center;
    font-weight: bold;
    font-family: Verdana,"Times New Roman", sans-serif;
    font-size: 70px;
}